[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bcrypt = "*"
fabric = "*"
invoke = "*"
requests = "*"
coverage = "*"

[packages]
django = "==2.2.18"
markdown = "*"
common = "*"
faker = "==4.0.2"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch = "==2.4"

[requires]
python_version = "3.7"
