[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
elasticsearch = "==2"

[packages]
django = "==2.2.10"
elasticsearch = ">=2,<3"
markdown = "*"
fabric = "*"
invoke = "*"
common = "*"
faker = "==4.0.2"
django-pure-pagination = "*"
django-haystack = "*"

[requires]
python_version = "3.7"
